body {	
	background-color: #FF4D1D;
}

h1{
	text-align: center;
	font-family: 'Old English Text MT';
	font-size: 50px;
	color: #C50000;
}

h1:hover {
	color: #861B1B;
}
#left-antenna,
#right-antenna,
#head,
#left-arm,
#torso,
#right-arm,
#left-leg,
#right-leg
{
	background-color: #7f63e9;
}

#head {
	width: 400px;
	height: 200px;
    border-radius: 200px 200px 0 0;
    -webkit-border-radius:200px 200px 0 0;
    -moz-border-radius: 200px 200px 0 0;
    -ms-border-radius: 200px 200px 0 0;
    -o-border-radius: 200px 200px 0 0;
    margin:0 auto;
    margin-bottom: 10px;
    }

#head:hover{
	width: 300px;
	transition: 1s ease-in-out;
}

#upper-body{
	width: 620px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
}

#left-arm, #right-arm{
	width: 100px;
	height: 350px;
	float: left;
	border-radius: 100px;
	-webkit-border-radius:100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
	transition: all 2s;
	transform-origin: top center;
}

#left-arm{
	margin-right: 10px;
	margin-left: -10px;
}

#left-arm:hover{
	transform: rotate(360deg);
}

#torso{
	width: 400px;
	height: 400px;
	float: left;
	border-radius:0 0 50px 50px;
	-webkit-border-radius:0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius:0 0 50px 50px;
	margin-right: 10px;
}

#right-arm:hover{
	transform: rotate(-360deg);
}

#lower-body{
	width: 400px;
	height:200px;
	margin: 0 auto;
}

#left-leg, #right-leg{
	width: 100px;
	height:250px;
	float: left;
	border-radius: 0 0 100px 100px;
	-webkit-border-radius: 0 0 100px 100px;
    -moz-border-radius:  0 0 100px 100px;
    -ms-border-radius:  0 0 100px 100px;
    -o-border-radius: 0 0 100px 100px;

}
#left-leg{
	margin-left:65px;
}
#right-leg{
	margin-left:50px;
}

#left-leg:hover{
transform: rotate(15deg);
}

#right-leg:hover{
transform: rotate(-15deg);
}

#left-eye, #right-eye{
	width: 30px;
	height:30px;
	border-radius: 15px;
	background-color: white;
	float: left;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius:  15px;
    -o-border-radius: 15px;
}
#left-eye{
	position: relative;
	top: 100px;
	left: 90px;
}
#right-eye{
	position: relative;
	top: 100px;
	left: 230px;
}
#antenna{
	width: 400px;
	height: 100px;
	margin:0 auto;
}
#left-antenna, #right-antenna{
	width: 10px;
	height: 150px;
	border-radius: 10px;
	float: left;
}
#left-antenna{
	position: relative;
	top: 40px;
	left: 80px;
	transform: rotate(-33deg);
}
#right-antenna{
	position: relative;
	top: 40px;
	left: 310px;
	transform: rotate(33deg);
}

#star {
    width: 0;
    height: 0;
    margin: 50px 0;
    color: yellow;
    position: relative;
    top: 85px;
    left: 100px;
    display: block;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    animation: star 1s linear infinite;
}
#star:before {
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    top: -45px;
    left: -65px;
    border-bottom: 80px solid yellow;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);

}

#star:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    color: #fc2e5a;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
}
@keyframes star {
	100%{
		transform: rotate(360deg);
	}
}